<div class="wrapper">
  <sistad-header></sistad-header>
  <sistad-side-nav></sistad-side-nav>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <sistad-footer></sistad-footer>
  <sistad-settings></sistad-settings>
</div>
